<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{Name}'s Site</title>

    <link rel="stylesheet" href="/css/site.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.1.0/pako.min.js"
      integrity="sha512-g2TeAWw5GPnX7z0Kn8nFbYfeHcvAu/tx6d6mrLe/90mkCxO+RcptyYpksUz35EO337F83bZwcmUyHiHamspkfg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/upng-js/2.1.0/UPNG.min.js"
      integrity="sha512-0EGvUncys73hZ+0MCLp5YxHM29nv0HO8oMVK0Tsz0DtuGa6G8+6YZUdHdt3gN1rKsVWvxuBmCj0y/2Zon7yopQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/msgpack5/6.0.2/msgpack5.js" integrity="sha512-D3HdIkfIllE1pD3AnWtzgBIfwKI5zgl6rxM3TWglPmzOhwMuEpBb0OzTmb4nzJlufHWnoz3JuthcYS7RWVUYdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/5.1.0/marked.min.js" integrity="sha512-j5KAPeir0rGl+OSddiUeUtUlG+GK7acI/kNQqrpjSSB1IlDUbj3VnQOyoW3GWpPj7i8CSfb0T+Q4IRHxAPRxCA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/game-boy-element.js" type="module" defer></script>
    <script src="/public/tenmile-quote-element.js" type="module" defer></script>
  </head>
  <body>
    <header>
      <a href="/" class="link--home">Home</a>
      <a href="/portfolio" class="link--portfolio">Portfolio</a>
      <a href="/about" class="link--about">About</a>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>&copy; My Site</footer>
  </body>
</html>